<div class="button-filters btn-group" data-toggle="buttons">
    <lable class="btn btnc btn-custom active" {{action 'setFilter' 'none'}}>
        {{input type="radio"}}View All
    </lable>
    <lable class="btn btnc btn-custom" {{action 'setFilter' 'active'}}>
        {{input type="radio"}}Active
    </lable>
    <lable class="btn btnc btn-custom" {{action 'setFilter' 'inactive'}}>
        {{input type="radio"}}Inactive
    </lable>
</div>