{{#modal-component close='removeModal' save=actionName title=title }}
        <form>
            {{#with newProject as |p|}}
            <div class="row">
                <div class="form-group col-xs-12">
                    <label for="projectName">Project Name</label>
                    {{input type="text" value=p.name class="form-control" maxlength="50" id="projectName" placeholder="Project Name"}}
                </div>
                <div class="form-group col-xs-12">
                    <label for="projectOwner">Project Owner</label>
                    {{input type="text" value=p.owner.name class="form-control" maxlength="50" id="projectOwner" placeholder="Project Owner"}}
                </div>
                <div class="form-group col-sm-6">
                    <label for="startDate">Project Start Date</label>
                    {{bootstrap-datepicker value=p.startDatePickerValue placeholder="Start Date" startDate=p.minDatePickerValue id='startDate' autoclose=true class="form-control"}}
                </div>
                <div class="form-group col-sm-6">
                    <label for="endDate">Project End Date</label>
                    {{bootstrap-datepicker value=p.endDatePickerValue placeholder="End Date" id="endDate" startDate=p.minDatePickerValue autoclose=true class="form-control"}}
                </div>
                <div class="form-group col-xs-12">
                    <label for="projectDescription">Description</label>
                    {{textarea rows="5" value=p.description id="projectDescription"  class="form-control" placeholder="Description"}}
                </div>
                <div class="form-group col-xs-12">
                    <div class="checkbox">
                        <label>
                            {{input type='checkbox' checked=p.active}} Active
                        </label>
                    </div>
                </div>
            </div>
            {{/with}}
        </form>
{{/modal-component}}